<h3 class="first">Default</h3>
<p-tabView>
    <p-tabPanel header="登录" leftIcon="fa-calendar">
        <input type="text" pInputText [(ngModel)]="loginUser.loginName" />
        <input type="password" pPassword [(ngModel)]="loginUser.password" />
    </p-tabPanel>
    <p-tabPanel header="Godfather II" leftIcon="fa-print">
        <input type="text" pInputText [(ngModel)]="registerUser.loginName" />
        <input type="password" pPassword [(ngModel)]="registerUser.password" />
        <input type="password" pPassword [(ngModel)]="confirmPassword" />
    </p-tabPanel>
</p-tabView>