<div>
</div>
<div>
    <p-tabView>
        <p-tabPanel header="登录">
            <div>
                <h3 class="first">用户名</h3>
                <input type="text" pInputText [(ngModel)]="loginUser.loginName" />
                <h3 class="first">密码</h3>
                <input type="password" [(ngModel)]="loginUser.password" />
            </div>
        </p-tabPanel>
        <p-tabPanel header="注册">
            <h3 class="first">用户名</h3>
            <input type="text" pInputText [(ngModel)]="registerUser.loginName" />
            <h3 class="first">密码</h3>
            <input type="password" [(ngModel)]="registerUser.password" />
            <h3 class="first">确认密码</h3>
            <input type="password" [(ngModel)]="confirmPassword" />
        </p-tabPanel>
    </p-tabView>
</div>